.width-100px {
	width: 100px;
}

.sidebar-dark-primary{
    background-color: #001f3f !important;
}

.logout-panel{
    border-top: 1px solid #4f5962;
    padding: .5rem 1rem;
}

table thead tr {
    background-color: #bbd6fc;
}

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: #001f3f;
}